<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>PTSD Testing</title>
</head>
<body>
    <header>
        <h1>Тестирование на ПТСР</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Главная</a></li>
                <li><a href="{{ url_for('hads_test') }}">HADS</a></li>
                <li><a href="{{ url_for('c_ssrs_test') }}">C-SSRS</a></li>
                <li><a href="{{ url_for('ptsd_test') }}">TSQ</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Выход</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Вход</a></li>
                    <li><a href="{{ url_for('register') }}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
        
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
